[submodule "microlind-hw"]
	path = microlind-hw
	url = https://github.com/sperly/microLind-hw.git
[submodule "microlind-fw"]
	path = microlind-fw
	url = https://github.com/sperly/microLind-fw.git
[submodule "microlind-builder"]
	path = microlind-builder
	url = https://github.com/sperly/microLind-builder.git
[submodule "microlind-sw"]
	path = microlind-sw
	url = https://github.com/sperly/microlind-sw.git
