[submodule "microlind-hw"]
	path = microlind-hw
	url = https://github.com/MicroLind-Developers/microlind-hw.git
[submodule "microlind-fw"]
	path = microlind-fw
	url = https://github.com/MicroLind-Developers/microlind-fw.git
[submodule "microlind-builder"]
	path = microlind-builder
	url = https://github.com/MicroLind-Developers/microlind-builder.git
[submodule "microlind-sw"]
	path = microlind-sw
	url = https://github.com/MicroLind-Developers/microlind-sw.git
[submodule "usim_6309"]
	path = usim_6309
	url = https://github.com/MicroLind-Developers/usim_6309.git
